<section>
    {{!-- <h1>{{title}}</h1>
    <h2>{{message}}</h2> --}}

    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/images/video2.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">

                    <h1 class="display-3">{{title}}<img class="logo-nav" src="/images/logoblanco.png" width="80"
                            height="80" alt="Logo"></h1>
                    <h1 class="display-5">{{message}}</h1>
                    <h1 class="display-3"><a id="nav-link1" href="/explore">Explore</a></h1>
                </div>
            </div>
        </div>
    </header>

    <section class="my-5">
        <div class="container">
            <div class="row align-items-center">
                <div id="text" class="col-md-6 mx-auto">
                    <p class="text-justify">THE FOODIE PHANTOM was born from the purpose of connecting foodies users
                        with the local talent of
                        chefs or amateur kitchens and thus enjoy quality cuisine within the reach of any individual.
                    </p>
                    <p class="text-justify"> Access to healthy food should be a social right and our greatest desire is
                        to bring it to all homes.
                    </p>
                    <p class="text-justify">Our application is based on the good work of our cooks on a
                        classification, the trust generated between supplier and satisfied customer.
                    </p>
                    <p class="text-justify">10% of the profits will be distributed to the "soup kitchens" that have
                        helped so much in times of crisis.

                    </p>
                    <p class="text-justify">We hope you enjoy the experience as much as we do.
                    </p>
                    <p class="text-justify">Choose the cook!
                    </p>

                </div>
            </div>
        </div>
    </section>

    {{!-- <video autoplay muted loop id="myVideo">
        <source src="/images/video2.mp4" type="video/mp4">
    </video> --}}

    {{!-- <div id="explore-link">
        <a class="nav-link" href="/explore">Explore</a> --}}
    </div>
</section>
<section>
    <div class="content">
        <div class="container">
            <div id="contento" class="row text-center">
                <div class="col-sm-4">
                    <img class="logo-nav" src="/images/picto1.jpg" width="200" height="200" alt="Logo"></a>
                    <h2>Homemade food</h2>
                    <p>
                        All food is homemade by our Amateurs/Pro Cooks, choose your prefference.
                        (For example, Spanish Food, Italian Pasta, Organic, Fish, ...)
                    </p>
                </div>
                <div class="col-sm-4">
                    <img class="logo-nav" src="/images/picto2.jpg" width="200" height="200" alt="Logo"></a>
                    <h2>Find your Cook</h2>
                    <p>
                        The Foodie Phantom allows you to locate nearby cooks that match your preferences.
                        For more info go to Explore!
                    </p>
                </div>
                <div class="col-sm-4">
                    <img class="logo-nav" src="/images/picto3.jpg" width="200" height="200" alt="Logo"></a>
                    <h2>Save your time</h2>
                    <p>
                        The Phantom Cook allows you to save time and enjoy homemade food cooked to your
                        specifications, for a special occasion or on a daily basis.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team -->
<!-- Section: Team v.1 -->
<div class="team">
    <section class="team-section text-center my-5">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Our Amazing Team</h2>
        <!-- Section description -->
        <p class="grey-text w-responsive mx-auto mb-5">Learn more about our team and the values we apply to our work
            every
            day.</p>
        <!-- Grid row -->
        <div id="team" class="row">
            <!-- Grid column -->
            <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="images/profile2.jpg" class="rounded-circle z-depth-1" width="250" height="250"
                        class="rounded-circle z-depth-1" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Alejandro González</h5>
                <p class="text-uppercase blue-text"><strong>CEO - Cofounder</strong>
                    <a href="https://www.linkedin.com/in/alejandro-gonzalez1988/"><img class="logolinkedin"
                            src="/images/logolink.png" width="20" height="20" alt="logoinstagram"></a></li>
                </p>
                <p class="grey-text">
                    Construction and web project manager,<br> inveterate amateur cook of mediterranean cuisine.</p>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="images/profile1.jpg" class="rounded-circle z-depth-1" width="250" height="250"
                        class="rounded-circle z-depth-1" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Rodrigo Hernández</h5>
                <p class="text-uppercase blue-text"><strong>CEO - Cofounder</strong>
                    <a href="https://www.linkedin.com/in/rodrigo-hern%C3%A1ndez-s%C3%A1nchez/"><img class="logolinkedin"
                            src="/images/logolink.png" width="20" height="20" alt="logoinstagram"></a></li>
                </p>
                <p class="grey-text">Digital project manager,<br> passionate about the digital world and food from all
                    cultures.</p>
            </div>
            <!-- Grid column -->
        </div>

</div>
</section>